<%- include("layout/header") %>

<div class="main main-height">
  <div class="container sub-height">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="py-6">
          <form action="<%= message.user._id %> " method="post">
            <div class="m-auto">
              <div class="py-2 my-2 overflow-hidden">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 profile_justify">
                      <img
                        src="/<%=message.user.image%>"
                        class="avatar"
                        alt="profile"
                      />
                      <h3 class="my-4 fw-600">
                        <%=message.user.fname +" "+ message.user.lname%>
                      </h3>
                    </div>
                    <div class="col-md-8">
                      <div class="my-4">
                        <input
                          class="text-dark px-2 py-2 w-100 fw-600 form-input"
                          type="text"
                          name="headLine"
                          placeholder="Headline"
                          aria-required="true"
                          required
                        />
                      </div>
                      <div class="my-4">
                        <input
                          class="text-dark px-2 py-2 w-100 fw-600 form-input"
                          type="text"
                          name="subHead"
                          placeholder=" Subhead"
                          aria-required="true"
                          required
                        />
                      </div>
                      <div class="my-4">
                        <input class="text-dark px-2 py-2 w-100 fw-600
                        form-input" type="text" name="createdBy"
                        value="<%=message.user.fname +" "+ message.user.lname%>"
                        placeholder="CreatedBy, example: <%=message.user.fname
                        +" "+ message.user.lname%>" aria-required="true"
                        required />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="py-2 my-2 overflow-hidden">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <textarea
                        name="content"
                        id="content"
                        class="form-control"
                        rows="12"
                      ></textarea>
                      <div class="btnc-position col-md-12 col-sm-12 pl-4">
                        <a
                          href="/myarticles/<%= message.user._id %> "
                          class="btnc btnc-secondary my-2 mr-4"
                        >
                          View all your article here</a
                        >
                        <input
                          type="submit"
                          value="Publish"
                          class="btnc btnc-primary my-2"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("layout/footer") %>
