<%- include("layout/header") %>

<div class="main main-height">
  <div class="modal" id="myModal">
    <div class="m_wrapper">
      <div class="wrapper_modal">
        <div class="wrapper_modal-dialog">
          <div class="wrapper_modal-content">
            <div class="wrapper_modal-body">
              Once it's confirmed, this cannnot be undone.<br />Would you like
              to delete this article?
            </div>
            <div class="modal_btn mt-4">
              <a
                href="/myarticle/<%= article._id %> "
                class="btnc btnc-secondary"
                >Back</a
              >
              <a
                href="/delete/article/<%= article._id %>"
                class="btnc btnc-danger"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container sub-height">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="py-6">
          <form action="<%=article._id%>" method="post">
            <div class="m-auto">
              <div class="py-2 my-2 overflow-hidden">
                <div class="container">
                  <div class="row">
                    <div class="col-4 profile_justify">
                      <img
                        src="/<%=message.user.image %> "
                        class="avatar"
                        alt="profile"
                      />
                      <h3 class="my-4">Created by: You</h3>
                    </div>
                    <div class="col-md-8">
                      <div class="my-4">
                        <input
                          class="text-dark px-2 py-2 w-100 form-input"
                          type="text"
                          name="headLine"
                          value="<%=article.headLine%>"
                          placeholder="Headline"
                          aria-required="true"
                          required
                        />
                      </div>
                      <div class="my-4">
                        <input
                          class="text-dark px-2 py-2 w-100 form-input"
                          type="text"
                          name="subHead"
                          value="<%=article.subHead%>"
                          placeholder="Subhead"
                          aria-required="true"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="py-2 my-2">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <textarea
                        name="content"
                        id="content"
                        rows="12"
                        class="form-control"
                      >
<%=article.content%></textarea
                      >
                      <div class="btnc-position">
                        <button
                          type="button"
                          class="btnc btnc-danger-text my-2 mr-4"
                          data-bs-toggle="modal"
                          data-bs-target="#myModal"
                        >
                          Delete this article
                        </button>
                        <input
                          type="submit"
                          value="Update"
                          class="btnc btnc-primary my-2"
                          aria-required="true"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("layout/footer") %>
